<div class="container-fluid">
  <div class="row row-height">

    <!-- Left -->
    <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
        <div id="social">
          <ul>
            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>

        <div>
          <figure *ngIf="footprint.total == 0" [@fadeOutUpOnLeave]="{ value: '', params: {duration: 100} }">
            <img src="assets/img/info_graphic_3.jpg" alt="" class="img-fluid" width="270" height="270">
          </figure>
          <h2 class="mb-0">#TuHuella</h2>
          <h5 class="our-footprint">Nuestra Huella</h5>
          <p>Calcula como afectan tus acciones a tu huella de carbono</p>

          <div *ngIf="footprint.total > 0" [@fadeInUpOnEnter]>
            <app-progress [footprint_subject]="footprint_subject" [footprint]="footprint"></app-progress>
          </div>
        </div>



        <div class="copy">Made with ❤️ by Glombardo</div>
      </div>

    </div>

    <!-- Right -->
    <div class="col-xl-8 col-lg-8 content-right">
      <div id="wizard_container">
        <form method="post">

          <div class="step" *ngIf="current_step == 0">
            <h2 class="section_title">¿Donde estas?</h2>
            <h3 class="main_question">El problema es de todos, pero hagámoslo práctico</h3>

            <div class="form-group add_bottom_30">
              <div class="styled-select">
                <select class="form-control" (change)="set_country($event)">
                  <option value="">Elige un pais</option>
                  <option *ngFor="let country of countries" value="{{country.value}}">{{country.name}}</option>

                </select>
              </div>
            </div>

            <div *ngIf="footprint.total != 0" [@fadeInUpOnEnter]>
              <h6>¡Se ha repartido la cuenta!</h6>
              <p>Este es el promedio de toneladas de CO2 de tu pais por habitantes.
                <a href="https://en.wikipedia.org/wiki/List_of_countries_by_greenhouse_gas_emissions_per_person"
                  class="ml-2" target="_blank">
                  <i class="fas fa-info-circle text-muted"></i>
                </a>
              </p>

              <div class="col-6 offset-3">
                <div class="alert alert-secondary text-center p-1" role="alert">
                  <h2 class="mb-0">{{footprint.total}}</h2>
                </div>
              </div>

              <div class="col text-center">
                <button type="button" class="forward" (click)="start()">Reduscamos tu huella</button>
              </div>
            </div>
          </div>

          <div class="step" *ngFor="let item of steps; let i = index">
            <ng-container *ngIf="current_step == i+1">
              <div>
                <!--<h2 class="section_title">Presentation {{i}}</h2>-->
                <h3 class="main_question">{{item.question}}</h3>
                <div class="form-group">
                  <label class="container_radio version_2" *ngFor="let option of item.options">{{option.text}}
                    <input type="radio" name="{{item.question}}" value="{{option.value}}" class="required"
                      (click)="select_option(current_step, option)">
                    <span class="checkmark"></span>

                    <span class="animated-value" [@ShowDataAnimation]
                      *ngIf="current_step + option.value==selected_option">-{{ get_percent(option.value) | number:'1.0-0'}}<small>%</small></span>
                  </label>

                  <label class="container_radio version_2" *ngIf="item.options.length == 1">Me lo pensare 🤔
                    <input type="radio" name="{{item.question}}" value="0" class="required"
                      (click)="select_option(current_step, {value:0, max:0, min:0})">
                    <span class="checkmark"></span>

                    <span class="animated-value red" [@ShowDataAnimation]
                      *ngIf="current_step + 0==selected_option">-0<small>%</small></span>
                  </label>

                </div>
              </div>
            </ng-container>
          </div>

          <div class="step" *ngIf="is_finished()">


            <h2 *ngIf="get_level() == 1">Se que puedes hacerlo mejor</h2>
            <h2 *ngIf="get_level() == 2">Es un buen comienzo</h2>
            <h2 *ngIf="get_level() == 3">Suena bien!</h2>
            <h2 *ngIf="get_level() == 4">Necesitamos mas personas como tu</h2>
            <p>Es un compromiso. Con solo <strong>{{actions}}</strong> accion<span *ngIf="actions > 1">es</span></p>

            <div class="row">
              <div class="col-12">
                <div class="card border-success mb-3">
                  <div class="card-header bg-transparent border-success text-center">Reduciras tu huella</div>
                  <div class="card-body text-success text-center">
                    <div class="row">
                      <div class="col-6">
                        <h1 class="card-title text-success my-0">{{footprint.diff_per | number:'1.0-0' }}<small
                            class="f-14">%</small></h1>
                      </div>
                      <div class="col-6 border-left border-success">
                        <h1 class="card-title text-success my-0">{{footprint.diff | number:'1.0-1'}}<small
                            class="f-14">ToCO&#8322;</small></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" class="float-right mt-4"
              target="_blank">
              <i class="fas fa-info-circle text-muted mt-2"></i>
            </a>
            <h4 class="mt-4 mb-3">Ahorro equivalente</h4>
            <div class="row">
              <div class="col-12">
                <div class="card-deck">

                  <div class="card mb-4" *ngFor="let item of equivalents">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-8">
                          <h4 class="mb-0">{{ footprint.diff * item.value | number:'1.0-0'}}</h4>
                          <span class="f-12">{{item.text}}</span>
                        </div>
                        <div class="col-4 pl-0">
                          <div class="circle-2 text-primary rounded-circle">
                            <i class="fas {{item.icon}}"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <hr>
            <h5>Comparte tu compromiso</h5>
            <p>Cada accion de cada persona cuenta</p>
            <div class="row">
              <div class="col">
                <a class="btn btn-info twitter" target="_blank"
                  href="https://twitter.com/intent/tweet?text=Reducir%C3%A9+20%25+mi+huella+de+carbono+con+solo+3+acciones.+%C2%BFY+tu%3F%0D%0A&hashtags=TuHuellaNuestraHuella">
                  <i class="fab fa-twitter"></i>
                  Tweet
                </a>

                <!--<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a>-->
              </div>
            </div>


            <h5 class="mt-5">Fuentes</h5>
            <p class="mb-3">Entendamos por que estos numeros</p>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a target="_blank" href="https://iopscience.iop.org/article/10.1088/1748-9326/ab8589">Metaestudio
                      de potenciales mitigaciones del cambio climatico | IOPScience</a></li>
                  <li><a target="_blank"
                      href="https://en.wikipedia.org/wiki/List_of_countries_by_greenhouse_gas_emissions_per_person">Emisiones
                      de gases de efecto invernadero por paices per capital | Wikipedia</a></li>
                  <li><a target="_blank"
                      href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator">Equivalencias de gases
                      de efecto invernadero | EPA</a></li>
                </ul>
              </div>
            </div>

          </div>

          <!--<div class="step">
            <h2 class="section_title">Presentation</h2>
            <h3 class="main_question">Personal info</h3>
            <div class="form-group add_top_30">
              <label for="name">First and Last Name</label>
              <input type="text" name="name" id="name" class="form-control required"
                onchange="getVals(this, 'name_field');">
            </div>
            <label>Gender</label>
            <div class="form-group radio_input">
              <label class="container_radio mr-3">Male
                <input type="radio" name="gender" value="Male" class="required">
                <span class="checkmark"></span>
              </label>
              <label class="container_radio">Female
                <input type="radio" name="gender" value="Female" class="required">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-group">
              <label class="container_radio version_2">Full time availability
                <input type="radio" name="availability" value="Full-time" class="required">
                <span class="checkmark"></span>
              </label>
              <label class="container_radio version_2">Part time availability
                <input type="radio" name="availability" value="Part-time" class="required">
                <span class="checkmark"></span>
              </label>
              <label class="container_radio version_2">Freelance / Contract availability
                <input type="radio" name="availability" value="Freelance-Contract" class="required">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>-->

          <div id="bottom-wizard" *ngIf="current_step != 0 && !is_finished()">
            <button type="button" class="backward mr-2" (click)="prev()" *ngIf="current_step > 1">Prev</button>
            <button type="button" class="forward" (click)="next()" [disabled]="!next_enable">Next</button>
          </div>
          <!-- /bottom-wizard -->
        </form>
      </div>
      <!-- /Wizard container -->
    </div>
    <!-- /content-right-->
  </div>
  <!-- /row-->
</div>
<!-- /container-fluid -->