<div class="container-fluid">
  <div class="row row-height">

    <!-- Left -->
    <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper" [class.inited]="footprint.total > 0">
        <div id="social">
          <ul>
            <li>
              <a href="https://github.com/gianfrancolombardo/carbon-footprint-calculator" target="_blank">
                <i class="fab fa-github"></i></a>
            </li>
            <li class="ml-3">
              <a href="/#" (click)="toogle_modal()">
                <i class="fa fa-info-circle"></i></a>
            </li>
          </ul>
        </div>

        <div>
          <figure *ngIf="footprint.total == 0" [@fadeOutUpOnLeave]="{ value: '', params: {duration: 100} }">
            <img src="assets/img/info_graphic_1.svg" alt="" class="img-fluid" width="100%">
          </figure>

          <div>
            <h2 class="mb-0">#TuHuella</h2>
            <h5 class="our-footprint">Nuestra Huella</h5>
            <p>Calcula cómo afectan tus acciones a tu huella de carbono</p>
          </div>
          <div *ngIf="footprint.total > 0" [@fadeInUpOnEnter] class="width-full">
            <app-progress [footprint_subject]="footprint_subject" [footprint]="footprint"></app-progress>
          </div>
        </div>



        <div class="copy">Made with ❤️ by <a href="https://www.linkedin.com/in/gianfranco-lombardo/"
            target="_blank">Glombardo</a></div>
      </div>

    </div>

    <!-- Right -->
    <div class="col-xl-8 col-lg-8 content-right">

      <div class="progress mini">
        <div class="progress-bar" [style.width.%]="get_progress()"></div>
      </div>

      <div id="wizard_container">
        <form method="post">

          <div class="step" *ngIf="current_step == 0">
            <h2 class="section_title">¿Dónde estás?</h2>
            <h3 class="main_question">El problema es de todos, pero hagámoslo práctico</h3>

            <div class="form-group add_bottom_30">
              <div class="styled-select">
                <select class="form-control" (change)="set_country($event)">
                  <option value="">Elige un país</option>
                  <option *ngFor="let country of countries" value="{{country.value}}">{{country.name}}</option>
                </select>


              </div>
            </div>

            <div *ngIf="footprint.total != 0" [@fadeInUpOnEnter]>
              <h6>¡Se ha repartido la cuenta!</h6>
              <p>Este es el promedio de toneladas de CO2 de tu país por habitantes.
                <a href="https://en.wikipedia.org/wiki/List_of_countries_by_greenhouse_gas_emissions_per_person"
                  class="ml-2" target="_blank">
                  <i class="fas fa-info-circle text-muted"></i>
                </a>
              </p>

              <div class="col-6 offset-3">
                <div class="alert alert-secondary text-center p-1" role="alert">
                  <h2 class="mb-0">{{footprint.total}}</h2>
                </div>
              </div>

              <div class="col text-center">
                <button type="button" class="forward" (click)="start()">Reduzcamos tu huella</button>
              </div>
            </div>
          </div>

          <div class="step" *ngFor="let item of steps; let i = index">
            <ng-container *ngIf="current_step == i+1">
              <div>
                <!--<h2 class="section_title">Presentation {{i}}</h2>-->
                <h3 class="main_question">{{item.question}}</h3>
                <div class="form-group">
                  <label class="container_radio version_2" *ngFor="let option of item.options">{{option.text}}
                    <input type="radio" name="{{item.question}}" value="{{option.value}}" class="required"
                      (click)="select_option(current_step, option)">
                    <span class="checkmark"></span>

                    <span class="animated-value" [@ShowDataAnimation]
                      *ngIf="current_step + option.value==selected_option">-{{ get_percent(option.value) |
                      number:'1.0-0'}}<small>%</small></span>
                  </label>

                  <label class="container_radio version_2" *ngIf="item.options.length == 1">Me lo pensare 🤔
                    <input type="radio" name="{{item.question}}" value="0" class="required"
                      (click)="select_option(current_step, {value:0, max:0, min:0})">
                    <span class="checkmark"></span>

                    <span class="animated-value red" [@ShowDataAnimation]
                      *ngIf="current_step + 0==selected_option">-0<small>%</small></span>
                  </label>

                </div>
              </div>
            </ng-container>
          </div>

          <div class="step" *ngIf="is_finished()">

            <div [@fadeInUpOnEnter]>
              <h2 *ngIf="get_level() == 1">Se que puedes hacerlo mejor</h2>
              <h2 *ngIf="get_level() == 2">Es un buen comienzo</h2>
              <h2 *ngIf="get_level() == 3">Suena bien!</h2>
              <h2 *ngIf="get_level() == 4">Necesitamos mas personas como tu</h2>
              <p>Es un compromiso.

                Con solo
                <span class="badge badge-success f-14">
                  <strong>{{actions}}</strong> accion<span *ngIf="actions > 1">es</span>
                </span>
              </p>
            </div>

            <div class="row" [@fadeInUpOnEnter]="{ value: '', params: { delay: 150 } }">
              <div class="col-12">
                <div class="card border-success mb-3">
                  <div class="card-header bg-transparent border-success text-center">Reducirás tu huella</div>
                  <div class="card-body text-success text-center">
                    <div class="row">
                      <div class="col-6">
                        <h1 class="card-title text-success my-0">{{footprint.diff_per | number:'1.0-0' }}<small
                            class="f-14">%</small></h1>
                      </div>
                      <div class="col-6 border-left border-success">
                        <h1 class="card-title text-success my-0">{{footprint.diff | number:'1.0-1'}}<small
                            class="f-14">ToCO&#8322;</small></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div [@fadeInUpOnEnter]="{ value: '', params: { delay: 200 } }">
              <!--<a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" class="float-right"
                target="_blank">
                <i class="fas fa-info-circle text-muted mt-2"></i>
              </a>-->
              <!--<a class="float-right" href="#/" (click)="shuffled_equivalents()">
                <i class="fas fa-plus-circle text-muted mt-2"></i>
              </a>-->
              <h4 class="mt-4 mb-3">Ahorro equivalente</h4>
              <div class="row">
                <div class="col-12">
                  <div class="card-deck">

                    <div class="card mb-4" *ngFor="let item of equivalents_shuffled">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-8">
                            <h4 class="mb-0">{{ footprint.diff * item.value | kilo}}</h4>
                            <span class="f-12">{{item.text}}</span>
                          </div>
                          <div class="col-4 pl-0 text-center">
                            <div class="circle-2 text-primary rounded-circle">
                              <i class="fas {{item.icon}}"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div [@fadeInUpOnEnter]="{ value: '', params: { delay: 250 } }">
              <hr>
              <a class="btn btn-info twitter float-right" target="_blank"
                href="https://twitter.com/intent/tweet?text=Reducir%C3%A9+{{ footprint.diff_per | number:'1.0-0' }}%25+mi+huella+de+carbono+con+solo+{{ actions }}+acciones.+%C2%BFY+tu%3F&hashtags=TuHuellaNuestraHuella&url=https%3A%2F%2Ftuhuella-nuestrahuella.org">
                <i class="fab fa-twitter"></i>
                Tweet
              </a>
              <h5>Comparte tu compromiso</h5>
              <p>Cada acción de cada persona cuenta</p>
            </div>
          </div>

          <div id="bottom-wizard" *ngIf="current_step != 0 && !is_finished()">
            <button type="button" class="backward mr-2" (click)="prev()" *ngIf="current_step > 1"><i
                class="fa fa-arrow-left"></i></button>
            <button type="button" class="forward" (click)="next()" [disabled]="!next_enable">Siguiente</button>
          </div>
          <!-- /bottom-wizard -->
        </form>
      </div>

    </div>

    <footer class="footer d-block d-lg-none">
      <div>Made with ❤️ by <a href="https://www.linkedin.com/in/gianfranco-lombardo/" target="_blank">Glombardo</a>
      </div>
    </footer>

  </div>
</div>





<div class="modal fadeIn" tabindex="-1" [class.d-block]="toogle_modal_value">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Información</h6>
        <button type="button" class="close" (click)="toogle_modal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-2">
            <div class="circle-2 text-primary rounded-circle">
              <i class="fas fa-book"></i>
            </div>
          </div>
          <div class="col-10 pl-0">
            <h5 class="mb-0">Lo más importante... Fuentes!</h5>
            <p class="mb-3">Entendamos de donde salen estos numeros</p>
          </div>
        </div>

        <ul class="mb-5">
          <li><a target="_blank" href="https://iopscience.iop.org/article/10.1088/1748-9326/ab8589">Metaestudio
              de potenciales mitigaciones del cambio climático | IOPScience</a></li>
          <li><a target="_blank"
              href="https://en.wikipedia.org/wiki/List_of_countries_by_greenhouse_gas_emissions_per_person">Emisiones
              de gases de efecto invernadero por países per cápita | Wikipedia</a></li>
          <li><a target="_blank" href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator">Equivalencias
              de gases
              de efecto invernadero | EPA</a></li>
        </ul>

        <div class="row mb-2">
          <div class="col-2">
            <div class="circle-2 text-primary rounded-circle">
              <i class="fas fa-play"></i>
            </div>
          </div>
          <div class="col-10 pl-0">
            <h5 class="mb-0">¿Sin tiempo para leer?</h5>
            <p class="mb-3">Dejemos que el gran Crespo lo explique</p>
          </div>
        </div>

        <iframe width="100%" height="264" src="https://www.youtube.com/embed/wNQ5wvGmnEk" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<div *ngIf="show_cookies" [@fadeInUpOnEnter]>
  <div class="cookies-message alert alert-secondary">
    <h5>Esta pagina usa <i>galletas</i> 🍪</h5>
    <p>Solamente las usamos para entender cómo interactúas con nuestra web. En NINGÚN caso almacenamos datos personales
    </p>
    <a href="#" class="btn btn-primary btn-sm mr-2" (click)="set_cookies(true)">Vengan esas cookies</a>
    <a href="#" class="btn btn-outline-secondary btn-sm" (click)="set_cookies(false)">Nop, no gracias</a>
  </div>
</div>